SUPABASE_URL=https://nhqrzddvaexpozqxeeab.supabase.co
SUPABASE_SECRET_KEY=
INITIAL_ADMIN_USERNAME=
INITIAL_ADMIN_PASSWORD=
APP_URL=https://nova-admin-brunnojob.netlify.app
MERCADOPAGO_ENVIRONMENT=test
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
NODE_ENV=production
