*.sqlite3
*.sqlite3-*
__pycache__/
.venv/
node_modules/
.env
.env.*

build/
dist/
.pio/
.gradle/
.env*
!.env.example
.local/
*.pyc
target/
bin/
obj/
*.class
*.db
*.db-wal
*.db-shm
/core
core.[0-9]*

.output/
.vercel/
*.lock
!package-lock.json
!bun.lock
